<ion-header>
  <ion-toolbar color="success">
     <ion-buttons slot="start" *ngIf="codigo ">
      <ion-back-button defaultHref="detalle/{{codigo}}"></ion-back-button>
    </ion-buttons>
    <ion-title>Característica </ion-title>
  </ion-toolbar>
</ion-header>
<!--Parte de Predio-->
<ion-content  *ngIf="caracteristica">

<ion-card class="fondo-static"  >
  <ion-card-header>
    <ion-card-title><h1>{{caracteristica.nombre}}</h1> </ion-card-title>
    <ion-img *ngIf="!imagenPredio" src="assets/predio.jpg"></ion-img>
    <ion-img *ngIf="imagenPredio" src="{{imagenPredio}}"></ion-img>
    
  </ion-card-header>
  <ion-card-content>
<p>
    {{caracteristica.descripcion}}
   </p> 
  </ion-card-content>
 
</ion-card  >
 <ion-slides class="fondo-static ">
      <ion-slide>
      <ion-card class="slides">
        <ion-card-header>
        <ion-card-title>
          <h3>Tipo de Vino</h3>
        </ion-card-title>
        </ion-card-header>
        <ion-card-content>
         <ion-icon name="wine" item-start large ></ion-icon>
          <p>{{caracteristica.tipo}}</p>
        </ion-card-content>
        </ion-card>
       </ion-slide>
       <ion-slide>
       <ion-card class="slides">
        <ion-card-header>
         <ion-card-title>
          <h3>Locación Predio</h3>
        </ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p>{{caracteristica.locacion}}</p>
        </ion-card-content>
        </ion-card>
        </ion-slide>
    </ion-slides>
</ion-content>

<!--Parte de Vina-->
<ion-content *ngIf="caracteristica_vina">
<ion-card class="fondo-static" >
  <ion-card-header class="titulo">
    <ion-card-title><h1>{{caracteristica_vina.nombre}} </h1></ion-card-title>
     <ion-img class="imagen" src="{{imagenVina}}"></ion-img>
   
  </ion-card-header>
  <ion-card-content>
    <ion-card-title><h3>{{caracteristica_vina.direccion}}</h3></ion-card-title>
    <p>{{caracteristica_vina.descripcion}}</p>
    
  </ion-card-content>
</ion-card>
</ion-content>

<!--Parte de Cosecha-->
<ion-content *ngIf="caracteristica_cosecha">
<ion-card class="fondo-dinamic">
  <ion-card-header>
    <ion-card-title><h1>Datos de Cosecha</h1> </ion-card-title>
    
    <ion-img *ngIf="!imagenCosecha" src="assets/cosecha.jpg"></ion-img>
    <ion-img *ngIf="imagenCosecha" src="{{imagenCosecha}}"></ion-img>
  </ion-card-header>
  <ion-card-content>
    <p>{{caracteristica_cosecha.descripcion}}</p>
  </ion-card-content>
</ion-card>
<ion-card class="fondo-dinamic">

  <ion-card-header>
  <ion-progress-bar type="indeterminate" reversed="true"></ion-progress-bar>
    <ion-card-title><h3>Fecha Captura</h3> </ion-card-title>
    <p><ion-datetime readonly="true" value="{{caracteristica_cosecha.fecha}}" display-timezone="utc"></ion-datetime></p>

  </ion-card-header>
</ion-card>
 <ion-slides>
      <ion-slide>
      <ion-card class="fondo-dinamic slides">
        <ion-card-header>
        <ion-card-title>
          <h3>Humedad </h3>
        </ion-card-title>
        </ion-card-header>
        <ion-card-content>
         <ion-icon name="cloudy"></ion-icon>
          <p>{{caracteristica_cosecha.humedad}}%</p>
        </ion-card-content>
        </ion-card>
       </ion-slide>
       <ion-slide>
       <ion-card class="fondo-dinamic slides">
        <ion-card-header>
         <ion-card-title>
          <h3>Temperatura</h3>
        </ion-card-title>
        </ion-card-header>
        <ion-card-content>
        <ion-icon name="thermometer"></ion-icon>
          <p>{{caracteristica_cosecha.temperatura}}°C</p>
          </ion-card-content>
        </ion-card>
        </ion-slide>
    </ion-slides>
</ion-content>

<!--Parte de Carga-->
<ion-content *ngIf="caracteristica_carga">
<ion-card class="fondo-dinamic">
  <ion-card-header>
    <ion-card-title><h1>Datos de Carga</h1> </ion-card-title>
    
    <ion-img *ngIf="!imagenCarga" src="assets/carga.jpg"></ion-img>
    <ion-img  *ngIf="imagenCarga" src="{{imagenCarga}}"></ion-img>
  </ion-card-header>
  <ion-card-content>
    <p>{{caracteristica_carga.descripcion}}</p>
    
  </ion-card-content>
 
</ion-card>

<ion-card class="fondo-dinamic">
  <ion-card-header> 
    <ion-card-title><h3>Fecha Captura</h3> </ion-card-title>
    <p><ion-datetime displayFormat="DDDD MMM D, YYYY" readonly="true" value="{{caracteristica_carga.fecha}}" display-timezone="utc"></ion-datetime>
    </p><ion-card-title><h3>Hora de Captura</h3></ion-card-title>
    <p><ion-datetime displayFormat="HH:mm" readonly="true" value="{{caracteristica_carga.fecha}}" display-timezone="utc"></ion-datetime> </p>
    <ion-card-title><h3>Carga </h3></ion-card-title>
    
    <p> {{caracteristica_carga.peso}} Kg</p>
  </ion-card-header>
  <ion-card-content>
    
  </ion-card-content>
</ion-card>
</ion-content>

<!--Parte Grafico Bodega-->

<ion-content *ngIf="caracteristica_bodega">
<ion-card  >
  <ion-card-header>
    <ion-card-title><h1>Bodega</h1></ion-card-title>
    
  </ion-card-header>
  <ion-card-content>
      
      <canvas baseChart  [datasets]="chartDataBodega" [chartType]="chartTypeBodega" [labels]="chartLabelsBodega" [colors]="chartColorsBodega"></canvas>
      <ion-list class="ion-margin-top">
        <ion-item>
          <ion-label>Tipo de Gráfico</ion-label>
          <ion-select [(ngModel)]="chartTypeBodega">
            <ion-select-option value="line">Lineal</ion-select-option>
            <ion-select-option value="bar">Barra</ion-select-option>
            
          </ion-select>
        </ion-item>
      </ion-list>
  </ion-card-content>
</ion-card>
<ion-card *ngIf="imagenBodega" class="fondo-dinamic">
<ion-card-header>
  
  <ion-img src="{{imagenBodega}}"></ion-img>
  <ion-card-subtitle>Imagen</ion-card-subtitle>
</ion-card-header>
</ion-card>
</ion-content>

<ion-content *ngIf="caracteristica_descarga">
<ion-card>
  <ion-card-header>
    <ion-card-title><h1>Descarga</h1></ion-card-title>
  </ion-card-header>

   <ion-card-content>
    <canvas baseChart [datasets]="chartDataDescarga" [chartType]="chartTypeDescarga" [labels]="chartLabelsDescarga" [colors]="chartColorsDescarga"></canvas>
    <ion-list class="ion-margin-top">
        <ion-item>
          <ion-label>Tipo de Gráfico</ion-label>
          <ion-select [(ngModel)]="chartTypeDescarga">
            <ion-select-option value="line">Lineal</ion-select-option>
            <ion-select-option value="bar">Barra</ion-select-option>
            
          </ion-select>
        </ion-item>
      </ion-list>
  </ion-card-content>
</ion-card>
<ion-card class="fondo-dinamic">
  <ion-card-header>
  <p><ion-label>Total Descargas en Bodega : </ion-label> {{caracteristica_descarga.total}}</p> 
   <p><ion-label>Distancia Promedio Estacionamiento : </ion-label>{{caracteristica_descarga.promedio}} mts</p>
  </ion-card-header>
  <ion-card-content>
   <ion-img *ngIf="imagenDescarga" src="{{imagenDescarga}}"></ion-img>
   
   </ion-card-content>
</ion-card>
</ion-content>

<ion-content *ngIf="caracteristica_almacen">
<ion-card>
  <ion-card-header>
    <ion-card-title><h1>Almacen</h1></ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <canvas baseChart [datasets]="chartDataAlmacen" [chartType]="chartTypeAlmacen" [labels]="chartLabelsAlmacen" [colors]="chartColorsAlmacen"></canvas>
    <ion-list class="ion-margin-top">
        <ion-item>
          <ion-label>Tipo de Gráfico</ion-label>
          <ion-select [(ngModel)]="chartTypeAlmacen">
            <ion-select-option value="line">Lineal</ion-select-option>
            <ion-select-option value="bar">Barra</ion-select-option>
            
          </ion-select>
        </ion-item>
      </ion-list>
  </ion-card-content>
</ion-card>
<ion-card *ngIf="imagenAlmacen" class="fondo-dinamic">
<ion-card-header>
  
  <ion-img src="{{imagenAlmacen}}"></ion-img>
  <ion-card-subtitle>Imagen</ion-card-subtitle>
</ion-card-header>
</ion-card>
</ion-content>

<ion-content *ngIf="!caracteristica_bodega && !caracteristica_descarga && !caracteristica && !caracteristica_carga && !caracteristica_almacen && !caracteristica_cosecha && !caracteristica_vina ">
 
   <ion-list>
    <ion-list-header>
      <ion-label>
        Obteniendo Datos
      </ion-label>
    </ion-list-header>
    <ion-item>
      <ion-avatar slot="start">
        <ion-skeleton-text animated></ion-skeleton-text>
      </ion-avatar>
      <ion-label>
        <h3>
          <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
        </h3>
        <p>
          <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
        </p>
        <p>
          <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
        </p>
      </ion-label>
    </ion-item>
    </ion-list>
</ion-content>


