<ion-header>
  <ion-toolbar color="success">
     <ion-buttons slot="start" *ngIf="codigo ">
      <ion-back-button defaultHref="detalle/{{codigo}}"></ion-back-button>
    </ion-buttons>
    <ion-title>Característica </ion-title>
  </ion-toolbar>
</ion-header>
<!--Parte de Predio-->
<ion-content *ngIf="caracteristica">
<ion-card >
  <ion-card-header>
    <ion-card-title>{{caracteristica.nombre}} </ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-img src="assets/predio.jpg"></ion-img>
    {{caracteristica.descripcion}}
    
  </ion-card-content>
 
</ion-card>
 <ion-slides>
      <ion-slide>
      <ion-card>
        <ion-card-header>
        <ion-card-title>
          Tipo de Vino
        </ion-card-title>
        </ion-card-header>
        <ion-card-content>
         <ion-icon name="wine" item-start large ></ion-icon>
          {{caracteristica.tipo}}
        </ion-card-content>
        </ion-card>
       </ion-slide>
       <ion-slide>
       <ion-card>
        <ion-card-header>
         <ion-card-title>
          Locación Predio
        </ion-card-title>
        </ion-card-header>
        <ion-card-content>
          {{caracteristica.locacion}}
        </ion-card-content>
        </ion-card>
        </ion-slide>
    </ion-slides>
</ion-content>

<!--Parte de Vina-->
<ion-content *ngIf="caracteristica_vina">
<ion-card >
  <ion-card-header>
    <ion-card-title>{{caracteristica_vina.nombre}} </ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-img src="assets/Vina.jpg"></ion-img>
    <ion-card-title>{{caracteristica_vina.direccion}}</ion-card-title>
    {{caracteristica_vina.descripcion}}
    
  </ion-card-content>
</ion-card>
</ion-content>

<!--Parte de Cosecha-->
<ion-content *ngIf="caracteristica_cosecha">
<ion-card class="fondo-temperatura">
  <ion-card-header>
    <ion-card-title>Datos de Cosecha </ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-img src="assets/cosecha.jpg"></ion-img>
    {{caracteristica_cosecha.descripcion}}
    
  </ion-card-content>
 
</ion-card>
<ion-card>
  <ion-card-header>
  <ion-progress-bar type="indeterminate" reversed="true"></ion-progress-bar>
    <ion-card-title>Fecha Captura </ion-card-title>
    <ion-datetime readonly="true" value="{{caracteristica_cosecha.fecha}}" display-timezone="utc"></ion-datetime>

  </ion-card-header>
</ion-card>
 <ion-slides>
      <ion-slide>
      <ion-card>
        <ion-card-header>
        <ion-card-title>
          Humedad 
        </ion-card-title>
        </ion-card-header>
        <ion-card-content>
         <ion-icon name="cloudy"></ion-icon>
          {{caracteristica_cosecha.humedad}}%
        </ion-card-content>
        </ion-card>
       </ion-slide>
       <ion-slide>
       <ion-card class="fondo-temperatura">
        <ion-card-header>
         <ion-card-title>
          Temperatura
        </ion-card-title>
        </ion-card-header>
        <ion-card-content>
        <ion-icon name="thermometer"></ion-icon>
          {{caracteristica_cosecha.temperatura}}°C
        </ion-card-content>
        </ion-card>
        </ion-slide>
    </ion-slides>
</ion-content>

<!--Parte de Carga-->
<ion-content *ngIf="caracteristica_carga">
<ion-card class="fondo-temperatura">
  <ion-card-header>
    <ion-card-title>Datos de Carga </ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-img src="assets/carga.jpg"></ion-img>
    {{caracteristica_carga.descripcion}}
    
  </ion-card-content>
 
</ion-card>

<ion-card>
  <ion-card-header>
  <ion-progress-bar type="indeterminate" reversed="true"></ion-progress-bar>
    <ion-card-title>Fecha Captura </ion-card-title>
    <ion-datetime displayFormat="DDDD MMM D, YYYY" readonly="true" value="{{caracteristica_carga.fecha}}" display-timezone="utc"></ion-datetime>
    <ion-card-title>Hora de Captura</ion-card-title>
    <ion-datetime displayFormat="HH:mm" readonly="true" value="{{caracteristica_carga.fecha}}" display-timezone="utc"></ion-datetime>
    
  </ion-card-header>
  <ion-card-content>
    <ion-card-title>Carga : {{caracteristica_carga.peso}} Kg </ion-card-title>
  </ion-card-content>
</ion-card>
</ion-content>

<!--Parte Grafico Bodega-->

<ion-content *ngIf="caracteristica_bodega">
<ion-card >
  <ion-card-header>
    Gráfico
  </ion-card-header>
  <ion-card-content>
    <p> {{caracteristica_bodega.hora}}</p>
    <div style="position:relative;margin:auto;">
      <canvas #barcanvas ></canvas>
    </div>
    
  </ion-card-content>
</ion-card>

</ion-content>