
.fondo-inicio{
    --ion-background-color: #4a74f056;
    --ion-text-color: #ffffff;
}

.fondo-temperatura{ 
    --ion-background-color: #ff7a7a;

}

.vignette {
    position: relative;
  }
  
  .vignette img {
    display: block;
  }
 
  .vignette:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    box-shadow: 0 0 150px 30px rgba(0, 0, 0, 1) inset;
  }

.fondo-static{
  background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);
}

.fondo-dinamic{
  background: linear-gradient(90deg, #fcff9e 0%, #c67700 100%);
}
.slides{
 
  width:90%;
}

ion-img{
   
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  box-shadow: 0 0 150px 30px rgba(0, 0, 0, 1) inset;
 
}
ion-card-header{
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;  
}