<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Sistema de Trazabilidad</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngIf="error">
     <ion-card-header color="danger">
      <ion-card-title>No se encontraron Datos con el codigo ingresado {{id}}</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card *ngIf="resultado" (click)="verVina()">
    <ion-card-header class="cabeza">
      <ion-card-subtitle>Datos viña</ion-card-subtitle>
      <ion-card-subtitle>{{resultado.direccion}}</ion-card-subtitle>
      <ion-card-title>{{resultado.nombre}}</ion-card-title>
    </ion-card-header>
    <ion-card-content text-center>
      {{resultado.descripcion}} 
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="resultado_predio" (click)="verPredio()">
    <ion-card-header class="cabeza">
      <ion-card-subtitle>Datos predio</ion-card-subtitle>
      <ion-card-subtitle>{{resultado_predio.nombre}}</ion-card-subtitle>
      <ion-card-title>{{resultado_predio.locacion}}</ion-card-title>
    </ion-card-header>
    <ion-card-content text-center>
      {{resultado_predio.descripcion}}
      {{resultado_predio.hash}}
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="resultado_cosecha" (click)="verCosecha()" >
    <ion-card-header class="cabeza">
      <ion-card-subtitle>Datos Cosecha</ion-card-subtitle>
      <ion-card-subtitle>Fecha Captura <ion-icon name="calendar-outline"></ion-icon>: <ion-text color="tertiary">{{resultado_cosecha.fecha}}</ion-text></ion-card-subtitle>
    </ion-card-header>
    <ion-card-content class="contenido" text-center>
        <p>Temperatura <ion-icon name="thermometer-outline"></ion-icon>: {{resultado_cosecha.temperatura}}°C</p>
        <p>Humedad &nbsp;&nbsp;&nbsp;&nbsp; <ion-icon name="cloud-outline"></ion-icon>: {{resultado_cosecha.humedad}}%</p>
        <p>Descripcion: {{resultado_cosecha.descripcion}}</p>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="resultado_carga" (click)="verCarga()">
    <ion-card-header class="cabeza">
      <ion-card-subtitle>Datos Carga</ion-card-subtitle>
      <ion-card-subtitle>Fecha Captura <ion-icon name="calendar-outline"></ion-icon>: <ion-text color="tertiary">{{resultado_carga.fecha}}</ion-text></ion-card-subtitle>
    </ion-card-header>
    <ion-card-content class="contenido" text-center>
      <p>Peso <ion-icon name=""></ion-icon>:{{resultado_carga.peso}} KG
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="resultado_bodega" (click)="verBodega()" >
    <ion-card-header class="cabeza">
      <ion-card-subtitle>Resumen</ion-card-subtitle>
      <ion-card-title>Bodega</ion-card-title>
    </ion-card-header>
    <ion-card-content>
        <p>Primer Registro : {{resultado_bodega.primerRegistro}}</p>
        <p>Ultimo Registro : {{resultado_bodega.ultimoRegistro}}</p>
        <p>Temperatura Promedio: {{resultado_bodega.temperaturaPromedio}}°C</p>
        <p>Humedad Promedio : {{resultado_bodega.humedadPromedio}}%</p>

    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="!resultado_bodega">
    Cargando ... 
  </ion-card>


</ion-content>
