.contenido{

    background-color: lightskyblue;
    color:whitesmoke ;
}
.cabeza{
    background-color:rgb(255 232 142 / 61%);
 
}

.vina{
background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(23,153,226,1) 0%, rgba(59,59,181,0.9272844978932584) 56%, rgba(64,204,232,1) 93%);
color:rgb(255, 255, 255);
}
.fuente{
    background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(23,153,226,1) 0%, rgba(209,209,238,1) 0%, rgba(255,255,255,1) 93%);
}

.dinamico{
    background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(23,153,226,1) 0%, rgba(255,255,255,1) 0%, rgba(209,238,234,1) 50%, rgba(214,240,221,1) 85%, rgba(214,240,221,1) 85%);
}

.dinamico-cabeza{
    background: rgb(238,174,202);
background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(205,179,213,1) 27%, rgba(181,183,221,1) 52%, rgba(179,183,222,1) 84%, rgba(148,187,233,1) 100%);
}
.estatico-cabeza{
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(183,148,111,1) 0%, rgba(206,188,80,1) 0%, rgba(235,227,180,1) 7%, rgba(255,254,251,1) 24%, rgba(250,247,229,1) 44%, rgba(238,232,181,1) 56%, rgba(241,235,192,1) 64%, rgba(212,198,72,1) 79%, rgba(206,192,81,1) 90%, rgba(206,192,81,1) 90%, rgba(163,153,139,1) 99%);}
.header-static{
    background-color: #FFDEE9;
background-image: linear-gradient(0deg, #FFDEE9 0%, #B5FFFC 100%);

}
.header-dinamic{
    background-color: #FFE53B;
    background-image: linear-gradient(147deg, #FFE53B 0%, #FF2525 74%);
    
}
h1,p,h2,h3,ion-text{
    font-family: 'Times New Roman', Times, serif;
}
 