<ion-header>
  <ion-toolbar>
    <ion-title>Vino QR</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>
        Trazabilidad del vino
      </ion-card-subtitle>
      <ion-card-title>ViNo Qr</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Ingresar Codigo 
      <ion-input type="text" [(ngModel)]="codigoHash" placeholder="Ingresar codigo"></ion-input>
      <ion-button expand="block" (click)="navegar()" >Cargar Codigo</ion-button>
    </ion-card-content>
  </ion-card>
  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button (click)="capturar()">
      <ion-icon name="qr-code-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
