<ion-header>
  <ion-toolbar>
    <ion-title>Vino QR</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>
        Trazabilidad del vino
      </ion-card-subtitle>
      <ion-card-title>ViNo Qr</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Aplicacion para obtener la trazabilidad de una botella de vino
    </ion-card-content>
  </ion-card>
  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button (click)="capturar()">
      <ion-icon name="qr-code-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-fab vertical="bottom" horizontal="left" slot="fixed">
    <ion-fab-button>
      <ion-icon [routerLink]="['/detalle/1']" name="globe-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
